.form-signin {
    width: 400px;
    /* border: 1px solid #000000; */
    padding: 15px;
}

.background-login {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    object-position: left;
}

.logo {
    width: 200px;
}

.btn-login {
    width: 75%;
    border-radius: 5px;
    background-color: #0F67B1;
    border: 1px solid #f8f9fa;
    color: #ffffff;
}